label{
  width: 100%;
  padding: 1rem;
}
label input{
  width: 100%;
  background: none;
  border:  1px solid white;
  border-radius: 5px;
  height: 45px;
  color: white;
  padding: .5rem;
  font-size: 20px;
}
